# Telegram Bot
TELEGRAM_BOT_TOKEN=8913797417:AAFb5LoGkwgfXQugR2gcmVz-DXYgQC6IWw4
TELEGRAM_BOT_USERNAME=Taamba3532_bot
TELEGRAM_ADMIN_ID=8820857419

# Server
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
API_BASE_URL=http://localhost:3000/api

# API Keys
API_SECRET=your_secret_key_here
